<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboards</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Lista de Dashboards</h2>
    <ul>
        <li th:each="dash : ${dashboards}">
            <strong th:text="${dash.title}"></strong> -
            <span th:text="${dash.description}"></span>
        </li>
    </ul>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>
