<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Welcome to the Home Page!</h2>

    <!-- Botón para ir al Dashboard de Hábitos -->
    <form th:action="@{/dashboard/habits}" method="get">
        <button type="submit">Ver Dashboard de Hábitos</button>
    </form>

    <br>

    <!-- Botón para cerrar sesión -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>
